{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% block h1 %}seminar detail{% endblock %}

{% block content %}
  <div class="p-4 m-4 bg-light border border-success rounded">
    <h2 class="text-success">{{ object.title }}</h2>

        <!-- Thumbnail Image -->
    {% if object.thumbnail %}
      <img src="{{ object.thumbnail.url }}" alt="{{ object.title }}" class="img-fluid mb-3">
    {% else %}
      <p>No thumbnail available.</p>
    {% endif %}

    <p>{{ object.text }}</p>

   <!-- Videos List -->
  <div class="border p-4 mb-2">
    <h3 class="h4">Uploaded Videos</h3>
    {% if videos %}
      <ul>
        {% for video in videos %}
          <li>
            <h4>{{ video.title }}</h4>
            <p>{{ video.description }}</p>
            <!-- Display video using a video tag -->
            <video width="320" height="240" controls>
              <source src="{{ video.video_file.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No videos uploaded yet.</p>
    {% endif %}
  </div>

    
    <!-- Reviews Section -->
    <div class="border p-4 mb-2">
      {% for review in object.review_set.all %}
        <div>
          <h3 class="h4">{{ review.title }}</h3>
          <div class="px-2">
            <span>(投稿ユーザー： {{ review.user.username }})</span>
            <h6>評価： {{ review.rate }}</h6>
            <p>{{ review.text }}</p>
          </div>
        </div>
      {% empty %}
        <p>No reviews yet. Be the first to leave a review!</p>
      {% endfor %}
    </div>
    <a href="{% url 'list-seminar="btn btn-primary">一覧へ</a>
    <a href="{% url 'review' object.pk %}" class="btn btn-primary">レビューする</a>
    <a href="{% url 'update-seminar' object.pk %}" class="btn btn-primary">編集する</a>
    <a href="{% url 'delete-seminar' object.pk %}" class="btn btn-primary">削除する</a>
    <a href="{% url 'upload-video' object.pk %}"  class="btn btn-primary">動画をアップロードする</a>
    <h6 class="card-title">{{ object.category }}</h6>
  </div>
{% endblock %}
